/* Pseudo-class */
:root { /* Make available throughout document */
  /* Custom properties */
  --background-color: #1E1E1E;
  --blue: #1976D2;
  --white: #fffdfc;
  --grayed_text: #b5b5b5;
}

* {}

/* Selecting elements */
html, body { 
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0; /* Otherwise it does get truly fullscreen */
    background-color: var(--background-color);
}

h1 {
    font-size: 4.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}

button {
    background-color: #1976D2;
    border: 0;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

/* 


        UPPER BAR


*/

div .left {
    /* Where */
    position: fixed;
    top: 2rem;
    left: 5rem;
    /* Style */
    color: var(--grayed_text);
}

div .right {
    /* Where */
    position: fixed;
    top: 1rem;
    right: 0;
    /* Style */
    color: var(--grayed_text);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.right #header {
    position: fixed;
    top: 4rem;
}

#button-close {
    /* Where */
    /* Size */
    width: 4vw;
    height: 4vh;
    /* Style */
    background-image: url('/assets/design/close.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

/*                                   */

.container {
    display: flex; /* To apply columns/rows to children */
    width: 100%; /* Make the container encompass everything */
    min-height: 100%; /* In regards to the size of the html/body element */;
    /* Use vh for viewport units */
}

/* 


        COLUMN LEFT


*/


#add {
    border-radius: 50%;
    background-image: url('/assets/design/add.png');
    height: 8rem;
    width: 8rem;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.column.left {
    /* Where */
    top: 19rem;
    left: 10rem;
    /* Style */
    display: block;
    font-size: 2rem;
}

#editar {
    /* Style */
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
}

/* 


        COLUMN RIGHT


*/


.left .versions li.selected {
    color: var(--blue);
}

.column.right {
    /* Where */
    top: 15rem;
    right: 10rem;
    /* Style */
    display: block;
    font-size: 2rem;
}

.column.left .edit-add {
    position: fixed;
    top: 13rem;
    left: 35rem;
}

.column.left .versions {
    position: fixed;
    top: 19rem;
    left: 15rem;
}

.versions li {
    padding-bottom: 3rem;
}

/* 


        LOWER BAR


*/

#bottom {
    position: fixed;
    right: 3rem;
    bottom: 6rem;
    color: var(--white);
}

#bottom .right {
    /* Where */
    position: fixed;
    right: 2rem;
    top: unset;
    bottom: 1rem;
    /* Style */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;   
}

#bottom .right button {
    width: 8vw;
    height: 3vw;
    color: var(--white);
}