/* Pseudo-class */
:root { /* Make available throughout document */
  /* Custom properties */
  --background-color: #1E1E1E;
  --blue: #1976D2;
  --white: #fffdfc;
  --grayed_text: #b5b5b5;
}

* {}

/* Selecting elements */
html, body { 
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0; /* Otherwise it does get truly fullscreen */
}

h1 {
    font-size: 4.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}

button {
    background-color: #1976D2;
    border: 0;
    border-radius: 5px;
}

/* 


        UPPER BAR


*/




/* 


        COLUMN LEFT


*/



/* 


        COLUMN RIGHT


*/



/* 


        LOWER BAR


*/